In [ ]:
import numpy as np
import pandas as pd
from pandas import Series
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import tensorflow as tf

In [ ]:
data = pd.read_csv('/content/train.csv')
data.head(10)

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
5,Email 6,4,5,1,4,2,3,45,1,0,...,0,0,0,0,0,0,0,0,0,1
6,Email 7,5,3,1,3,2,1,37,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Email 8,0,2,2,3,1,2,21,6,0,...,0,0,0,0,0,0,0,1,0,1
8,Email 9,2,2,3,0,0,1,18,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Email 10,4,4,35,0,1,0,49,1,16,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.info

<bound method DataFrame.info of        Email No.  the  to  ect  and  for  of    a  you  hou  ...  connevey  \
0        Email 1    0   0    1    0    0   0    2    0    0  ...         0
1        Email 2    8  13   24    6    6   2  102    1   27  ...         0
2        Email 3    0   0    1    0    0   0    8    0    0  ...         0
3        Email 4    0   5   22    0    5   1   51    2   10  ...         0
4        Email 5    7   6   17    1    5   2   57    0    9  ...         0
...          ...  ...  ..  ...  ...  ...  ..  ...  ...  ...  ...       ...
4891  Email 5168    2   2    2    3    0   0   32    0    0  ...         0
4892  Email 5169   35  27   11    2    6   5  151    4    3  ...         0
4893  Email 5170    0   0    1    1    0   0   11    0    0  ...         0
4894  Email 5171    2   7    1    0    2   1   28    2    0  ...         0
4895  Email 5172   22  24    5    1    6   5  148    8    2  ...         0

      jay  valued  lay  infrastructure  military  allowing  ff  dry  \
0       0       0    0               0         0         0   0    0
1       0       0    0               0         0         0   1    0
2       0       0    0               0         0         0   0    0
3       0       0    0               0         0         0   0    0
4       0       0    0               0         0         0   1    0
...   ...     ...  ...             ...       ...       ...  ..  ...
4891    0       0    0               0         0         0   0    0
4892    0       0    0               0         0         0   1    0
4893    0       0    0               0         0         0   0    0
4894    0       0    0               0         0         0   1    0
4895    0       0    0               0         0         0   0    0

      Prediction
0              0
1              0
2              0
3              0
4              0
...          ...
4891           0
4892           0
4893           1
4894           1
4895           0

[4896 rows x 3002 columns]>

In [ ]:
print(data.isnull().sum())

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [ ]:
def get_sequences(texts, tokenizer, train=True, max_seq_length=None):
    sequences = tokenizer.texts_to_sequences(texts)

    if train == True:
        max_seq_length = np.max(list(map(lambda x: len(x), sequences)))

    sequences = tf.keras.preprocessing.sequence.pad_sequences(sequences, maxlen=max_seq_length, padding='post')

    return sequences

In [ ]:
X = data.iloc[:,1:3001]
X

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,2,2,2,3,0,0,32,0,0,5,...,0,0,0,0,0,0,0,0,0,0
4892,35,27,11,2,6,5,151,4,3,23,...,0,0,0,0,0,0,0,0,1,0
4893,0,0,1,1,0,0,11,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4894,2,7,1,0,2,1,28,2,0,8,...,0,0,0,0,0,0,0,0,1,0
4895,22,24,5,1,6,5,148,8,2,23,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Y = data.iloc[:,-1]
Y

0       0
1       0
2       0
3       0
4       0
       ..
4891    0
4892    0
4893    1
4894    1
4895    0
Name: Prediction, Length: 4896, dtype: int64

In [ ]:
def preprocess_inputs(df):
    df = df.copy()

    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.1, shuffle=True, random_state=1)

    return X_train, X_test, y_train, y_test

In [ ]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [ ]:
y_train

4769    0
4367    0
1542    0
4454    0
82      0
       ..
2895    1
2763    1
905     1
3980    0
235     1
Name: Prediction, Length: 4406, dtype: int64

In [ ]:
X_train

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
4769,4,5,3,1,2,2,43,2,0,5,...,0,0,0,0,0,0,0,0,0,0
4367,3,1,2,1,2,0,27,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1542,5,10,13,4,3,0,98,2,6,12,...,0,0,0,0,0,0,0,0,0,0
4454,9,11,3,2,6,2,123,21,1,29,...,0,0,0,0,0,0,0,0,0,0
82,5,9,2,6,2,5,74,3,0,27,...,0,0,0,0,0,0,0,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,17,15,2,11,10,9,116,18,0,30,...,0,0,0,0,0,0,0,0,1,0
2763,1,10,1,6,3,2,47,7,0,15,...,0,0,0,0,0,0,0,0,1,0
905,7,4,2,3,1,5,33,2,0,5,...,0,0,0,0,0,0,0,0,0,0
3980,7,12,1,5,6,3,67,0,0,15,...,0,0,0,0,0,0,0,0,1,0
235,2,3,1,1,1,2,15,1,0,5,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
inputs = tf.keras.Input(shape=(3000,))

embedding = tf.keras.layers.Embedding(
    input_dim=3001,
    output_dim=100
)(inputs)

flatten = tf.keras.layers.Flatten()(embedding)

outputs = tf.keras.layers.Dense(1, activation='sigmoid')(flatten)


model = tf.keras.Model(inputs=inputs, outputs=outputs)

In [ ]:
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=[
        'accuracy',
        tf.keras.metrics.AUC(name='auc')
    ]
)

print(model.summary())

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 3000)]            0

 embedding (Embedding)       (None, 3000, 100)         300100

 flatten (Flatten)           (None, 300000)            0

 dense (Dense)               (None, 1)                 300001

=================================================================
Total params: 600,101
Trainable params: 600,101
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
history = model.fit(
    np.array(X_train),
    np.array(y_train),
    validation_split=0.2,
    batch_size=16,
    epochs=100,

)

Epoch 1/100
221/221 [==============================] - 5s 16ms/step - loss: 0.2722 - accuracy: 0.8984 - auc: 0.9425 - val_loss: 0.0932 - val_accuracy: 0.9649 - val_auc: 0.9945
Epoch 2/100
221/221 [==============================] - 3s 15ms/step - loss: 0.0511 - accuracy: 0.9827 - auc: 0.9982 - val_loss: 0.0740 - val_accuracy: 0.9717 - val_auc: 0.9956
Epoch 3/100
221/221 [==============================] - 3s 15ms/step - loss: 0.0201 - accuracy: 0.9957 - auc: 0.9998 - val_loss: 0.0659 - val_accuracy: 0.9773 - val_auc: 0.9960
Epoch 4/100
221/221 [==============================] - 3s 15ms/step - loss: 0.0089 - accuracy: 0.9994 - auc: 1.0000 - val_loss: 0.0706 - val_accuracy: 0.9773 - val_auc: 0.9961
Epoch 5/100
221/221 [==============================] - 3s 15ms/step - loss: 0.0048 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0730 - val_accuracy: 0.9785 - val_auc: 0.9960
Epoch 6/100
221/221 [==============================] - 3s 15ms/step - loss: 0.0030 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0770 - val_accuracy: 0.9785 - val_auc: 0.9960
Epoch 7/100
221/221 [==============================] - 3s 15ms/step - loss: 0.0019 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0795 - val_accuracy: 0.9773 - val_auc: 0.9945
Epoch 8/100
221/221 [==============================] - 3s 15ms/step - loss: 0.0013 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0841 - val_accuracy: 0.9773 - val_auc: 0.9945
Epoch 9/100
221/221 [==============================] - 3s 15ms/step - loss: 9.7015e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0883 - val_accuracy: 0.9773 - val_auc: 0.9946
Epoch 10/100
221/221 [==============================] - 3s 15ms/step - loss: 7.0467e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0896 - val_accuracy: 0.9773 - val_auc: 0.9946
Epoch 11/100
221/221 [==============================] - 4s 20ms/step - loss: 5.7461e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0930 - val_accuracy: 0.9773 - val_auc: 0.9946
Epoch 12/100
221/221 [==============================] - 3s 14ms/step - loss: 4.4339e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0980 - val_accuracy: 0.9762 - val_auc: 0.9947
Epoch 13/100
221/221 [==============================] - 3s 15ms/step - loss: 3.5727e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0979 - val_accuracy: 0.9773 - val_auc: 0.9930
Epoch 14/100
221/221 [==============================] - 3s 15ms/step - loss: 2.8867e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.0998 - val_accuracy: 0.9773 - val_auc: 0.9930
Epoch 15/100
221/221 [==============================] - 3s 15ms/step - loss: 2.2853e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1022 - val_accuracy: 0.9785 - val_auc: 0.9930
Epoch 16/100
221/221 [==============================] - 3s 15ms/step - loss: 1.9823e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1055 - val_accuracy: 0.9773 - val_auc: 0.9923
Epoch 17/100
221/221 [==============================] - 3s 15ms/step - loss: 1.6138e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1100 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 18/100
221/221 [==============================] - 3s 15ms/step - loss: 1.3947e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1108 - val_accuracy: 0.9773 - val_auc: 0.9916
Epoch 19/100
221/221 [==============================] - 3s 15ms/step - loss: 1.1310e-04 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1123 - val_accuracy: 0.9773 - val_auc: 0.9916
Epoch 20/100
221/221 [==============================] - 3s 15ms/step - loss: 9.6954e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1151 - val_accuracy: 0.9773 - val_auc: 0.9916
Epoch 21/100
221/221 [==============================] - 3s 15ms/step - loss: 8.3776e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1151 - val_accuracy: 0.9785 - val_auc: 0.9923
Epoch 22/100
221/221 [==============================] - 3s 15ms/step - loss: 7.1138e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1189 - val_accuracy: 0.9773 - val_auc: 0.9916
Epoch 23/100
221/221 [==============================] - 3s 15ms/step - loss: 6.0702e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1208 - val_accuracy: 0.9773 - val_auc: 0.9916
Epoch 24/100
221/221 [==============================] - 3s 15ms/step - loss: 5.3199e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1219 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 25/100
221/221 [==============================] - 3s 15ms/step - loss: 4.4759e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1237 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 26/100
221/221 [==============================] - 3s 15ms/step - loss: 3.8661e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1272 - val_accuracy: 0.9796 - val_auc: 0.9916
Epoch 27/100
221/221 [==============================] - 3s 15ms/step - loss: 3.4944e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1267 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 28/100
221/221 [==============================] - 3s 15ms/step - loss: 2.9985e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1286 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 29/100
221/221 [==============================] - 3s 15ms/step - loss: 2.5793e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1317 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 30/100
221/221 [==============================] - 3s 15ms/step - loss: 2.2395e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1331 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 31/100
221/221 [==============================] - 3s 15ms/step - loss: 1.9544e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1358 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 32/100
221/221 [==============================] - 3s 15ms/step - loss: 1.7678e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1369 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 33/100
221/221 [==============================] - 3s 15ms/step - loss: 1.5628e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1413 - val_accuracy: 0.9785 - val_auc: 0.9908
Epoch 34/100
221/221 [==============================] - 3s 15ms/step - loss: 1.3376e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1396 - val_accuracy: 0.9785 - val_auc: 0.9916
Epoch 35/100
221/221 [==============================] - 3s 15ms/step - loss: 1.1393e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1442 - val_accuracy: 0.9796 - val_auc: 0.9908
Epoch 36/100
221/221 [==============================] - 3s 15ms/step - loss: 1.0234e-05 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1448 - val_accuracy: 0.9785 - val_auc: 0.9908
Epoch 37/100
221/221 [==============================] - 3s 15ms/step - loss: 8.9872e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1469 - val_accuracy: 0.9785 - val_auc: 0.9908
Epoch 38/100
221/221 [==============================] - 3s 15ms/step - loss: 7.7730e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1485 - val_accuracy: 0.9785 - val_auc: 0.9908
Epoch 39/100
221/221 [==============================] - 3s 15ms/step - loss: 7.0079e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1509 - val_accuracy: 0.9785 - val_auc: 0.9908
Epoch 40/100
221/221 [==============================] - 3s 15ms/step - loss: 6.0381e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1531 - val_accuracy: 0.9796 - val_auc: 0.9891
Epoch 41/100
221/221 [==============================] - 3s 15ms/step - loss: 5.5284e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1557 - val_accuracy: 0.9785 - val_auc: 0.9909
Epoch 42/100
221/221 [==============================] - 3s 15ms/step - loss: 4.7374e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1555 - val_accuracy: 0.9785 - val_auc: 0.9891
Epoch 43/100
221/221 [==============================] - 3s 15ms/step - loss: 4.0962e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1574 - val_accuracy: 0.9785 - val_auc: 0.9891
Epoch 44/100
221/221 [==============================] - 3s 15ms/step - loss: 3.7329e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1602 - val_accuracy: 0.9773 - val_auc: 0.9891
Epoch 45/100
221/221 [==============================] - 3s 15ms/step - loss: 3.2298e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1603 - val_accuracy: 0.9785 - val_auc: 0.9891
Epoch 46/100
221/221 [==============================] - 3s 15ms/step - loss: 2.8129e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1631 - val_accuracy: 0.9785 - val_auc: 0.9883
Epoch 47/100
221/221 [==============================] - 3s 15ms/step - loss: 2.5500e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1660 - val_accuracy: 0.9796 - val_auc: 0.9876
Epoch 48/100
221/221 [==============================] - 3s 15ms/step - loss: 2.2130e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1677 - val_accuracy: 0.9785 - val_auc: 0.9876
Epoch 49/100
221/221 [==============================] - 3s 14ms/step - loss: 1.9254e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1677 - val_accuracy: 0.9785 - val_auc: 0.9891
Epoch 50/100
221/221 [==============================] - 3s 14ms/step - loss: 1.7693e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1690 - val_accuracy: 0.9785 - val_auc: 0.9891
Epoch 51/100
221/221 [==============================] - 3s 15ms/step - loss: 1.5550e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1742 - val_accuracy: 0.9785 - val_auc: 0.9877
Epoch 52/100
221/221 [==============================] - 3s 15ms/step - loss: 1.3231e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1736 - val_accuracy: 0.9785 - val_auc: 0.9876
Epoch 53/100
221/221 [==============================] - 3s 14ms/step - loss: 1.1552e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1751 - val_accuracy: 0.9785 - val_auc: 0.9876
Epoch 54/100
221/221 [==============================] - 3s 14ms/step - loss: 1.0121e-06 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1777 - val_accuracy: 0.9785 - val_auc: 0.9876
Epoch 55/100
221/221 [==============================] - 3s 14ms/step - loss: 9.4286e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1793 - val_accuracy: 0.9785 - val_auc: 0.9876
Epoch 56/100
221/221 [==============================] - 3s 14ms/step - loss: 8.3824e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1818 - val_accuracy: 0.9785 - val_auc: 0.9877
Epoch 57/100
221/221 [==============================] - 3s 14ms/step - loss: 7.1695e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1835 - val_accuracy: 0.9785 - val_auc: 0.9876
Epoch 58/100
221/221 [==============================] - 3s 15ms/step - loss: 6.5722e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1843 - val_accuracy: 0.9785 - val_auc: 0.9876
Epoch 59/100
221/221 [==============================] - 3s 14ms/step - loss: 5.8242e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1857 - val_accuracy: 0.9773 - val_auc: 0.9876
Epoch 60/100
221/221 [==============================] - 3s 14ms/step - loss: 5.1247e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1880 - val_accuracy: 0.9773 - val_auc: 0.9876
Epoch 61/100
221/221 [==============================] - 3s 15ms/step - loss: 4.5885e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1914 - val_accuracy: 0.9785 - val_auc: 0.9877
Epoch 62/100
221/221 [==============================] - 3s 14ms/step - loss: 4.0554e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1915 - val_accuracy: 0.9785 - val_auc: 0.9876
Epoch 63/100
221/221 [==============================] - 3s 14ms/step - loss: 3.4437e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1949 - val_accuracy: 0.9785 - val_auc: 0.9877
Epoch 64/100
221/221 [==============================] - 3s 15ms/step - loss: 3.2124e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1950 - val_accuracy: 0.9762 - val_auc: 0.9876
Epoch 65/100
221/221 [==============================] - 4s 17ms/step - loss: 2.8746e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1985 - val_accuracy: 0.9785 - val_auc: 0.9876
Epoch 66/100
221/221 [==============================] - 3s 15ms/step - loss: 2.4690e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1991 - val_accuracy: 0.9773 - val_auc: 0.9859
Epoch 67/100
221/221 [==============================] - 3s 15ms/step - loss: 2.2402e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.1996 - val_accuracy: 0.9762 - val_auc: 0.9859
Epoch 68/100
221/221 [==============================] - 3s 15ms/step - loss: 2.0200e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2027 - val_accuracy: 0.9762 - val_auc: 0.9859
Epoch 69/100
221/221 [==============================] - 3s 15ms/step - loss: 1.7772e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2036 - val_accuracy: 0.9762 - val_auc: 0.9859
Epoch 70/100
221/221 [==============================] - 3s 15ms/step - loss: 1.5870e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2058 - val_accuracy: 0.9762 - val_auc: 0.9859
Epoch 71/100
221/221 [==============================] - 3s 15ms/step - loss: 1.4113e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2068 - val_accuracy: 0.9751 - val_auc: 0.9842
Epoch 72/100
221/221 [==============================] - 3s 15ms/step - loss: 1.2444e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2102 - val_accuracy: 0.9785 - val_auc: 0.9852
Epoch 73/100
221/221 [==============================] - 3s 15ms/step - loss: 1.1395e-07 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2103 - val_accuracy: 0.9751 - val_auc: 0.9842
Epoch 74/100
221/221 [==============================] - 3s 15ms/step - loss: 9.9009e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2121 - val_accuracy: 0.9751 - val_auc: 0.9842
Epoch 75/100
221/221 [==============================] - 3s 15ms/step - loss: 8.9517e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2137 - val_accuracy: 0.9751 - val_auc: 0.9842
Epoch 76/100
221/221 [==============================] - 3s 14ms/step - loss: 8.0199e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2159 - val_accuracy: 0.9751 - val_auc: 0.9842
Epoch 77/100
221/221 [==============================] - 3s 14ms/step - loss: 7.1568e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2171 - val_accuracy: 0.9751 - val_auc: 0.9842
Epoch 78/100
221/221 [==============================] - 3s 15ms/step - loss: 6.6440e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2209 - val_accuracy: 0.9773 - val_auc: 0.9834
Epoch 79/100
221/221 [==============================] - 3s 15ms/step - loss: 5.8007e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2219 - val_accuracy: 0.9762 - val_auc: 0.9834
Epoch 80/100
221/221 [==============================] - 3s 15ms/step - loss: 5.1657e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2226 - val_accuracy: 0.9751 - val_auc: 0.9834
Epoch 81/100
221/221 [==============================] - 3s 14ms/step - loss: 4.7128e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2239 - val_accuracy: 0.9751 - val_auc: 0.9834
Epoch 82/100
221/221 [==============================] - 3s 15ms/step - loss: 4.1873e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2264 - val_accuracy: 0.9751 - val_auc: 0.9834
Epoch 83/100
221/221 [==============================] - 3s 15ms/step - loss: 3.7982e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2280 - val_accuracy: 0.9762 - val_auc: 0.9834
Epoch 84/100
221/221 [==============================] - 3s 15ms/step - loss: 3.3881e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2288 - val_accuracy: 0.9751 - val_auc: 0.9834
Epoch 85/100
221/221 [==============================] - 3s 15ms/step - loss: 3.0673e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2314 - val_accuracy: 0.9762 - val_auc: 0.9834
Epoch 86/100
221/221 [==============================] - 3s 14ms/step - loss: 2.7234e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2310 - val_accuracy: 0.9751 - val_auc: 0.9816
Epoch 87/100
221/221 [==============================] - 3s 14ms/step - loss: 2.6438e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2349 - val_accuracy: 0.9762 - val_auc: 0.9834
Epoch 88/100
221/221 [==============================] - 3s 15ms/step - loss: 2.3052e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2358 - val_accuracy: 0.9762 - val_auc: 0.9834
Epoch 89/100
221/221 [==============================] - 3s 15ms/step - loss: 2.1051e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2376 - val_accuracy: 0.9762 - val_auc: 0.9817
Epoch 90/100
221/221 [==============================] - 3s 15ms/step - loss: 1.9007e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2384 - val_accuracy: 0.9751 - val_auc: 0.9817
Epoch 91/100
221/221 [==============================] - 3s 14ms/step - loss: 1.7158e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2392 - val_accuracy: 0.9751 - val_auc: 0.9799
Epoch 92/100
221/221 [==============================] - 3s 15ms/step - loss: 1.6063e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2419 - val_accuracy: 0.9751 - val_auc: 0.9817
Epoch 93/100
221/221 [==============================] - 3s 15ms/step - loss: 1.4455e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2437 - val_accuracy: 0.9762 - val_auc: 0.9817
Epoch 94/100
221/221 [==============================] - 3s 15ms/step - loss: 1.3478e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2445 - val_accuracy: 0.9751 - val_auc: 0.9817
Epoch 95/100
221/221 [==============================] - 3s 15ms/step - loss: 1.2216e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2459 - val_accuracy: 0.9751 - val_auc: 0.9817
Epoch 96/100
221/221 [==============================] - 3s 15ms/step - loss: 1.1354e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2478 - val_accuracy: 0.9751 - val_auc: 0.9817
Epoch 97/100
221/221 [==============================] - 3s 15ms/step - loss: 1.0444e-08 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2487 - val_accuracy: 0.9751 - val_auc: 0.9799
Epoch 98/100
221/221 [==============================] - 3s 15ms/step - loss: 9.8180e-09 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2504 - val_accuracy: 0.9751 - val_auc: 0.9817
Epoch 99/100
221/221 [==============================] - 3s 15ms/step - loss: 8.9987e-09 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2520 - val_accuracy: 0.9739 - val_auc: 0.9817
Epoch 100/100
221/221 [==============================] - 3s 15ms/step - loss: 8.2741e-09 - accuracy: 1.0000 - auc: 1.0000 - val_loss: 0.2528 - val_accuracy: 0.9751 - val_auc: 0.9817

In [ ]:
y_predict = model.evaluate(np.array(X_test),np.array(y_test))

16/16 [==============================] - 0s 9ms/step - loss: 0.2563 - accuracy: 0.9755 - auc: 0.9796

In [ ]:
test = pd.read_csv('/content/test.csv')
test.shape

(277, 3001)

In [ ]:
P = test.iloc[:,1:3001]
P

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,1,0,4,0,10,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,12,53,2,14,18,14,287,0,2,86,...,0,0,0,0,0,0,0,0,6,0
2,5,4,1,1,4,4,51,0,1,8,...,0,0,0,0,0,0,0,0,0,0
3,1,1,2,0,1,0,14,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,18,14,2,3,1,5,87,3,1,16,...,0,0,0,0,0,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,0,0,1,2,4,1,27,3,0,2,...,0,0,0,0,0,0,0,0,0,0
273,0,5,1,0,1,0,7,0,0,2,...,0,0,0,0,0,0,0,0,0,0
274,0,1,2,0,1,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
275,0,1,2,0,3,0,13,0,0,0,...,0,0,0,0,0,0,0,0,0,0
276,4,3,1,5,0,1,32,0,0,12,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x_test = P

In [ ]:
pred = model.predict(np.array(x_test))
pred = pred.ravel()

In [ ]:
submission = test[["Email No."]]
submission

     Email No.
0     Email 25
1     Email 26
2     Email 27
3     Email 28
4     Email 29
..         ...
272  Email 496
273  Email 497
274  Email 498
275  Email 499
276  Email 500

[277 rows x 1 columns]

In [ ]:
submission["Prediction"] = pd.Series(pred)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
submission

     Email No.    Prediction
0     Email 25  7.289444e-30
1     Email 26  1.000000e+00
2     Email 27  0.000000e+00
3     Email 28  1.396287e-30
4     Email 29  1.737522e-22
..         ...           ...
272  Email 496  1.000000e+00
273  Email 497  5.905393e-18
274  Email 498  2.513186e-29
275  Email 499  1.395675e-29
276  Email 500  2.935946e-03

[277 rows x 2 columns]

In [ ]:
submission.to_csv('/content/submission.csv', index=None)

In [ ]:
pd.read_csv('/content/submission.csv')

     Email No.    Prediction
0     Email 25  7.289444e-30
1     Email 26  1.000000e+00
2     Email 27  0.000000e+00
3     Email 28  1.396287e-30
4     Email 29  1.737522e-22
..         ...           ...
272  Email 496  1.000000e+00
273  Email 497  5.905392e-18
274  Email 498  2.513186e-29
275  Email 499  1.395675e-29
276  Email 500  2.935946e-03

[277 rows x 2 columns]